<div class="container">
    <button class="btn btn-primary" (click)="verLista = !verLista">Ver Lista de Alumnos</button>
    <table *ngIf="verLista" class="table">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let alumno of alumnos; let i = index">
          <td>{{ alumno.nombre }}</td>
          <td>
            <span [ngClass]="{'text-success': alumno.estado, 'text-danger': !alumno.estado}">
              {{ alumno.estado ? 'Aprobado' : 'Desaprobado' }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  